/api/installed_mods_api.types.jsonl filter=lfs diff=lfs merge=lfs -text
/api/optional_mods_api.types.jsonl filter=lfs diff=lfs merge=lfs -text
/bytecode/instruction_snapshots.jsonl filter=lfs diff=lfs merge=lfs -text
/bytecode/full_game_instruction_snapshots.jsonl filter=lfs diff=lfs merge=lfs -text
